<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/css/styles.css" />
    </head>
    <body>
        <div class="EGG">
            <img class="logo" src="static/MyMelody_logo.PNG" />
            <div class="label">
                <p class="let-s-analyze-your">Let’s Analyze your <br />Brain Waves!</p>
                <p class="put-on-your-muse">Put on your muse headset– <br /> it's about to get immersive!</p>
            </div>
            <a href="loading-page.html">
                <button class="button">
                    <div class="text-wrapper-3">
                        It's On
                    </div>
                </button>
            </a>
        </div>
        
    </body>
</html>
