<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/css/styles.css" />
    </head>
    <body style = "background-image: url('./static/background.png');  background-size: cover;">
        <div class="EGG">
            <img class="logo" src="static/MyMelody_logo.PNG" />
            <div class="label" style = "margin-top: -15px;">
                <p class="let-s-analyze-your" style = "margin-top: -15px; margin-left: 10vw">Let’s Analyze your <br />Brain Waves!</p>
                <p class="put-on-your-muse" style = "margin-top: -15px; margin-left: 10vw">Put on your muse headset -- it's about to get immersive!</p>
            </div>
                <a href="loading-page.html">
                <button class="button" style = "margin-top: 60vh; margin-left: -10vw">
                    <div class="text-wrapper-3">
                        It's On
                    </div>
                </button>
            </a>
        </div>
        
    </body>
</html>
