<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/css/styles.css" />
    </head>
    <body>
        <div class="EGG">
            <div class="div">
                <p class="let-s-analyze-your">Let’s Analyze your <br />Brain Waves!</p>
                <p class="put-on-your-muse">Put on your muse headset–<br />it&#39;s about to get immersive!</p>
                <div class="group"><div class="text-wrapper">It’s on!</div></div>
                <div class="frame">
                    <div class="overlap-group-wrapper">
                        <div class="overlap-group">
                            <div class="text-wrapper-2">MyMelody</div>
                            <img class="vector" src="img/vector-1.svg" />
                            <img class="rectangle" src="img/rectangle-14.png" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
