<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/css/styles.css" />
  </head>
  <body>
    <div class="welcome-page">
      <div class="div">
        <div class="hi-there-what-s-your">Hi there!<br />What’s your melody?</div>
        <a href="select-genre-page.html">
            <button class="let-s-find-out">
                <div class="text-wrapper">Let’s Find Out</div>
            </button>
        </a>
        <img class="logo" src="/assets/img/MyMelody_logo.PNG" />
      </div>
    </div>
  </body>
</html>