<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/css/styles.css" />
  </head>
  <body style = "background-image: url('./static/background.png');  background-size: cover;">
    <div class="welcome-page" style = 'background-color: transparent'>
      <div class="div" style = 'background-color: transparent'>
        <img class="logo" src="static/MyMelody_logo.PNG" />
        <div class="hi-there-what-s-your" style = "margin-left: 10vw; margin-right: 0">Hi there!<br />What’s your melody?</div>
        <a href="select-genre-page.html">
            <button class="let-s-find-out" style = "margin-top: -20vh">
                <div class="text-wrapper">Let’s Find Out</div>
            </button>
        </a>
      </div>
    </div>
  </body>
</html>