<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/css/styles.css" />
  </head>
  <body>
    <div class="select-genre-page">
      <div class="div">
        <br/>
        <img class="logo" src="/assets/img/MyMelody_logo.PNG" />
        <p class="text-wrapper">What are your top 5 favorite genres?</p>
        

          <div class="box">
            <div class="rectangle">
            <p class="list">1.</p>
            <img class="polygon" src="/assets/img/polygon.png">
            </div>
          </div>
          <div class="box">
            <div class="rectangle">
            <p class="list">2.</p>  
            <img class="polygon" src="/assets/img/polygon.png">
            </div>
          </div>
          <div class="box">
            <div class="rectangle">
            <p class="list">3.</p>  
            <img class="polygon" src="/assets/img/polygon.png">
            </div>
          </div>
          <div class="box">
            <div class="rectangle">
            <p class="list">4.</p>  
            <img class="polygon" src="/assets/img/polygon.png">
            </div>
          </div>
          <div class="box">
            <div class="rectangle">
            <p class="list">5.</p>  
            <img class="polygon" src="/assets/img/polygon.png">
            </div>
          </div>
          <a href="user-input-feelings-page.html">
            <button class="next">
                <div class="text-wrapper2">Next</div>
            </button>
          </a>
            
        
      </div>
    </div>
  </body>
</html>
