<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/css/styles.css" />
  </head>
  <body>
    <div class="user-input-feelings">
      <div class="div">
        <p class="text-wrapper">How are you feeling right now?</p>
        <img class="logo" src="/static/MyMelody_logo.PNG" />
        <input type="text" class="rectangle" placeholder="Write Your Feelings Here (one word descriptors e.g. happy content pleasant)"></input>
        <div class="add-another" id="add-another">Add another</div>
        <a href="egg-page.html">
            <button class="div-wrapper">
                <div class="text-wrapper-3">
                    All done
                </div>
            </button>
        </a>
      </div>
    </div>
    <script src="/static/js/script.js"></script>
  </body>
</html>